<% title t(:'title.domains') %>

<table>
  <thead>
  <tr>
    <th><%= Domain.human_attribute_name("name") %></th>
    <th><%= Domain.human_attribute_name("transport") %></th>
    <th><%= Domain.human_attribute_name("active") %></th>
    <th><%= Domain.human_attribute_name("created_by") %></th>
    <th><%= Domain.human_attribute_name("updated_by") %></th>
  </tr>
  </thead>
  <tbody>
  <% for domain in @domains %>
    <tr>
      <td><%= link_to domain.name, domain %></td>
      <td><%= domain.transport %></td>
      <td><%= domain.active %></td>
      <td><%= domain.created_by %></td>
      <td><%= domain.updated_by %></td>
      <td class="actions"><%= link_to t(:'actions.edit'), edit_domain_path(domain) %></td>
      <td class="actions"><%= link_to t(:'actions.delete'), domain, :confirm => t(:'actions.confirmdelete'), :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p class="actions"><%= link_to t(:'resource.new', :model => Domain.model_name.human), new_domain_path %></p>
