<% title Domain.model_name.human %>

<p>
  <strong><%= Domain.human_attribute_name("name") %>:</strong>
  <%= @domain.name %>
</p>
<p>
  <strong><%= Domain.human_attribute_name("notes") %>:</strong>
  <%= @domain.notes %>
</p>
<p>
  <strong><%= Domain.human_attribute_name("active") %>:</strong>
  <%= @domain.active %>
</p>

<p class="actions">
  <%= link_to t(:'actions.edit'), edit_domain_path(@domain) %> |
  <%= link_to t(:'actions.delete'), @domain, :confirm => t(:'actions.confirmdelete'), :method => :delete %> |
  <%= link_to t(:'title.domains'), domains_path %>
</p>
